- Feature engenering (orienté metier)

In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)
pd.set_option('max_colwidth', None)

- Application_{train|test}.csv
  
This is the main table, broken into two files for Train (with TARGET) and Test (without TARGET).
Static data for all applications. One row represents one loan in our data sample.
    
- Bureau.csv  
  
All client's previous credits provided by other financial institutions that were reported to Credit Bureau (for clients who have a loan in our sample).
For every loan in our sample, there are as many rows as number of credits the client had in Credit Bureau before the application date.
  
- Bureau_balance.csv 
  
Monthly balances of previous credits in Credit Bureau.
This table has one row for each month of history of every previous credit reported to Credit Bureau – i.e the table has (#loans in sample * # of relative previous credits * # of months where we have some history observable for the previous credits) rows.

- POS_CASH_balance.csv  
  
Monthly balance snapshots of previous POS (point of sales) and cash loans that the applicant had with Home Credit.
This table has one row for each month of history of every previous credit in Home Credit (consumer credit and cash loans) related to loans in our sample – i.e. the table has (#loans in sample * # of relative previous credits * # of months in which we have some history observable for the previous credits) rows.

- Credit_card_balance.csv  
  
Monthly balance snapshots of previous credit cards that the applicant has with Home Credit.
This table has one row for each month of history of every previous credit in Home Credit (consumer credit and cash loans) related to loans in our sample – i.e. the table has (#loans in sample * # of relative previous credit cards * # of months where we have some history observable for the previous credit card) rows.

- Previous_application.csv 
  
All previous applications for Home Credit loans of clients who have loans in our sample.
There is one row for each previous application related to loans in our data sample.

- Installments_payments.csv  
  
Repayment history for the previously disbursed credits in Home Credit related to the loans in our sample.
There is a) one row for every payment that was made plus b) one row each for missed payment.
One row is equivalent to one payment of one installment OR one installment corresponding to one payment of one previous Home Credit credit related to loans in our sample.

- HomeCredit_columns_description.csv  
  
This file contains descriptions for the columns in the various data files.

In [3]:
pd.read_csv('dataset/HomeCredit_columns_description.csv')

     Unnamed: 0                         Table                           Row                                                                                                                                                                                                                                                                           Description                                Special
0             1  application_{train|test}.csv                    SK_ID_CURR                                                                                                                                                                                                                                                              ID of loan in our sample                                    NaN
1             2  application_{train|test}.csv                        TARGET                                                                                           Target variable (1 - client with payment difficulties: he/she had late payment more than X days on at least one of the first Y installments of the loan in our sample, 0 - all other cases)                                    NaN
2             5  application_{train|test}.csv            NAME_CONTRACT_TYPE                                                                                                                                                                                                                                           Identification if loan is cash or revolving                                    NaN
3             6  application_{train|test}.csv                   CODE_GENDER                                                                                                                                                                                                                                                                  Gender of the client                                    NaN
4             7  application_{train|test}.csv                  FLAG_OWN_CAR                                                                                                                                                                                                                                                         Flag if the client owns a car                                    NaN
5             8  application_{train|test}.csv               FLAG_OWN_REALTY                                                                                                                                                                                                                                                   Flag if client owns a house or flat                                    NaN
6             9  application_{train|test}.csv                  CNT_CHILDREN                                                                                                                                                                                                                                                     Number of children the client has                                    NaN
7            10  application_{train|test}.csv              AMT_INCOME_TOTAL                                                                                                                                                                                                                                                                  Income of the client                                    NaN
8            11  application_{train|test}.csv                    AMT_CREDIT                                                                                                                                                                                                                                                             Credit amount of the loan                                    NaN
9            12  application_{train|test}.csv                   AMT_ANNUITY                                                                                                                                                                                                                                                                          Loan annuity                                    NaN
10           13  application_{train|test}.csv               AMT_GOODS_PRICE                                                                                                                                                                                                           For consumer loans it is the price of the goods for which the loan is given                                    NaN
11           14  application_{train|test}.csv               NAME_TYPE_SUITE                                                                                                                                                                                                                         Who was accompanying client when he was applying for the loan                                    NaN
12           15  application_{train|test}.csv              NAME_INCOME_TYPE                                                                                                                                                                                                                         Clients income type (businessman, working, maternity leave,�)                                    NaN
13           16  application_{train|test}.csv           NAME_EDUCATION_TYPE                                                                                                                                                                                                                                        Level of highest education the client achieved                                    NaN
14           17  application_{train|test}.csv            NAME_FAMILY_STATUS                                                                                                                                                                                                                                                           Family status of the client                                    NaN
15           18  application_{train|test}.csv             NAME_HOUSING_TYPE                                                                                                                                                                                                       What is the housing situation of the client (renting, living with parents, ...)                                    NaN
16           19  application_{train|test}.csv    REGION_POPULATION_RELATIVE                                                                                                                                                                    Normalized population of region where client lives (higher number means the client lives in more populated region)                            normalized
17           20  application_{train|test}.csv                    DAYS_BIRTH                                                                                                                                                                                                                                       Client's age in days at the time of application  time only relative to the application
18           21  application_{train|test}.csv                 DAYS_EMPLOYED                                                                                                                                                                                                            How many days before the application the person started current employment  time only relative to the application
19           22  application_{train|test}.csv             DAYS_REGISTRATION                                                                                                                                                                                                               How many days before the application did client change his registration  time only relative to the application
20           23  application_{train|test}.csv               DAYS_ID_PUBLISH                                                                                                                                                                       How many days before the application did client change the identity document with which he applied for the loan  time only relative to the application
21           24  application_{train|test}.csv                   OWN_CAR_AGE                                                                                                                                                                                                                                                                   Age of client's car                                    NaN
22           25  application_{train|test}.csv                    FLAG_MOBIL                                                                                                                                                                                                                                         Did client provide mobile phone (1=YES, 0=NO)                                    NaN
23           26  application_{train|test}.csv                FLAG_EMP_PHONE                                                                                                                                                                                                                                           Did client provide work phone (1=YES, 0=NO)                                    NaN
24           27  application_{train|test}.csv               FLAG_WORK_PHONE                                                                                                                                                                                                                                           Did client provide home phone (1=YES, 0=NO)                                    NaN
25           28  application_{train|test}.csv              FLAG_CONT_MOBILE                                                                                                                                                                                                                                              Was mobile phone reachable (1=YES, 0=NO)                                    NaN
26           29  application_{train|test}.csv                    FLAG_PHONE                                                                                                                                                                                                                                           Did client provide home phone (1=YES, 0=NO)                                    NaN
27           30  application_{train|test}.csv                    FLAG_EMAIL                                                                                                                                                                                                                                                Did client provide email (1=YES, 0=NO)                                    NaN
28           31  application_{train|test}.csv               OCCUPATION_TYPE                                                                                                                                                                                                                                          What kind of occupation does the client have                                    NaN
29           32  application_{train|test}.csv               CNT_FAM_MEMBERS                                                                                                                                                                                                                                              How many family members does client have                                    NaN
30           33  application_{train|test}.csv          REGION_RATING_CLIENT                                                                                                                                                                                                                                   Our rating of the region where client lives (1,2,3)                                    NaN
31           34  application_{train|test}.csv   REGION_RATING_CLIENT_W_CITY                                                                                                                                                                                                     Our rating of the region where client lives with taking city into account (1,2,3)                                    NaN
32           35  application_{train|test}.csv    WEEKDAY_APPR_PROCESS_START                                                                                                                                                                                                                            On which day of the week did the client apply for the loan                                    NaN
33           36  application_{train|test}.csv       HOUR_APPR_PROCESS_START                                                                                                                                                                                                                          Approximately at what hour did the client apply for the loan                                rounded
34           37  application_{train|test}.csv    REG_REGION_NOT_LIVE_REGION                                                                                                                                                                              Flag if client's permanent address does not match contact address (1=different, 0=same, at region level)                                    NaN
35           38  application_{train|test}.csv    REG_REGION_NOT_WORK_REGION                                                                                                                                                                                 Flag if client's permanent address does not match work address (1=different, 0=same, at region level)                                    NaN
36           39  application_{train|test}.csv   LIVE_REGION_NOT_WORK_REGION                                                                                                                                                                                   Flag if client's contact address does not match work address (1=different, 0=same, at region level)                                    NaN
37           40  application_{train|test}.csv        REG_CITY_NOT_LIVE_CITY                                                                                                                                                                                Flag if client's permanent address does not match contact address (1=different, 0=same, at city level)                                    NaN
38           41  application_{train|test}.csv        REG_CITY_NOT_WORK_CITY                                                                                                                                                                                   Flag if client's permanent address does not match work address (1=different, 0=same, at city level)                                    NaN
39           42  application_{train|test}.csv       LIVE_CITY_NOT_WORK_CITY                                                                                                                                                                                     Flag if client's contact address does not match work address (1=different, 0=same, at city level)                                    NaN
40           43  application_{train|test}.csv             ORGANIZATION_TYPE                                                                                                                                                                                                                                               Type of organization where client works                                    NaN
41           44  application_{train|test}.csv                  EXT_SOURCE_1                                                                                                                                                                                                                                            Normalized score from external data source                             normalized
42           45  application_{train|test}.csv                  EXT_SOURCE_2                                                                                                                                                                                                                                            Normalized score from external data source                             normalized
43           46  application_{train|test}.csv                  EXT_SOURCE_3                                                                                                                                                                                                                                            Normalized score from external data source                             normalized
44           47  application_{train|test}.csv                APARTMENTS_AVG  Normalized information about building where the client lives, What is average (_AVG suffix), modus (_MODE suffix), median (_MEDI suffix) apartment size, common area, living area, age of building, number of elevators, number of entrances, state of the building, number of floor                             normalized
45           48  application_{train|test}.csv              BASEMENTAREA_AVG  Normalized information about building where the client lives, What is average (_AVG suffix), modus (_MODE suffix), median (_MEDI suffix) apartment size, common area, living area, age of building, number of elevators, number of entrances, state of the building, number of floor                             normalized
46           49  application_{train|test}.csv   YEARS_BEGINEXPLUATATION_AVG  Normalized information about building where the client lives, What is average (_AVG suffix), modus (_MODE suffix), median (_MEDI suffix) apartment size, common area, living area, age of building, number of elevators, number of entrances, state of the building, number of floor                             normalized
47           50  application_{train|test}.csv               YEARS_BUILD_AVG  Normalized information about building where the client lives, What is average (_AVG suffix), modus (_MODE suffix), median (_MEDI suffix) apartment size, common area, living area, age of building, number of elevators, number of entrances, state of the building, number of floor                             normalized
48           51  application_{train|test}.csv                COMMONAREA_AVG  Normalized information about building where the client lives, What is average (_AVG suffix), modus (_MODE suffix), median (_MEDI suffix) apartment size, common area, living area, age of building, number of elevators, number of entrances, state of the building, number of floor                             normalized

In [14]:
train_set=pd.read_csv('dataset/application_train.csv')
train_set

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,APARTMENTS_AVG,BASEMENTAREA_AVG,YEARS_BEGINEXPLUATATION_AVG,YEARS_BUILD_AVG,COMMONAREA_AVG,ELEVATORS_AVG,ENTRANCES_AVG,FLOORSMAX_AVG,FLOORSMIN_AVG,LANDAREA_AVG,LIVINGAPARTMENTS_AVG,LIVINGAREA_AVG,NONLIVINGAPARTMENTS_AVG,NONLIVINGAREA_AVG,APARTMENTS_MODE,BASEMENTAREA_MODE,YEARS_BEGINEXPLUATATION_MODE,YEARS_BUILD_MODE,COMMONAREA_MODE,ELEVATORS_MODE,ENTRANCES_MODE,FLOORSMAX_MODE,FLOORSMIN_MODE,LANDAREA_MODE,LIVINGAPARTMENTS_MODE,LIVINGAREA_MODE,NONLIVINGAPARTMENTS_MODE,NONLIVINGAREA_MODE,APARTMENTS_MEDI,BASEMENTAREA_MEDI,YEARS_BEGINEXPLUATATION_MEDI,YEARS_BUILD_MEDI,COMMONAREA_MEDI,ELEVATORS_MEDI,ENTRANCES_MEDI,FLOORSMAX_MEDI,FLOORSMIN_MEDI,LANDAREA_MEDI,LIVINGAPARTMENTS_MEDI,LIVINGAREA_MEDI,NONLIVINGAPARTMENTS_MEDI,NONLIVINGAREA_MEDI,FONDKAPREMONT_MODE,HOUSETYPE_MODE,TOTALAREA_MODE,WALLSMATERIAL_MODE,EMERGENCYSTATE_MODE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,351000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.018801,-9461,-637,-3648.0,-2120,NaN,1,1,0,1,1,0,Laborers,1.0,2,2,WEDNESDAY,10,0,0,0,0,0,0,Business Entity Type 3,0.083037,0.262949,0.139376,0.0247,0.0369,0.9722,0.6192,0.0143,0.00,0.0690,0.0833,0.1250,0.0369,0.0202,0.0190,0.0000,0.0000,0.0252,0.0383,0.9722,0.6341,0.0144,0.0000,0.0690,0.0833,0.1250,0.0377,0.0220,0.0198,0.0,0.0000,0.0250,0.0369,0.9722,0.6243,0.0144,0.00,0.0690,0.0833,0.1250,0.0375,0.0205,0.0193,0.0000,0.0000,reg oper account,block of flats,0.0149,"Stone, brick",No,2.0,2.0,2.0,2.0,-1134.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,1129500.0,Family,State servant,Higher education,Married,House / apartment,0.003541,-16765,-1188,-1186.0,-291,NaN,1,1,0,1,1,0,Core staff,2.0,1,1,MONDAY,11,0,0,0,0,0,0,School,0.311267,0.622246,NaN,0.0959,0.0529,0.9851,0.7960,0.0605,0.08,0.0345,0.2917,0.3333,0.0130,0.0773,0.0549,0.0039,0.0098,0.0924,0.0538,0.9851,0.8040,0.0497,0.0806,0.0345,0.2917,0.3333,0.0128,0.0790,0.0554,0.0,0.0000,0.0968,0.0529,0.9851,0.7987,0.0608,0.08,0.0345,0.2917,0.3333,0.0132,0.0787,0.0558,0.0039,0.0100,reg oper account,block of flats,0.0714,Block,No,1.0,0.0,1.0,0.0,-828.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,135000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.010032,-19046,-225,-4260.0,-2531,26.0,1,1,1,1,1,0,Laborers,1.0,2,2,MONDAY,9,0,0,0,0,0,0,Government,NaN,0.555912,0.729567,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-815.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,297000.0,Unaccompanied,Working,Secondary / secondary special,Civil marriage,House / apartment,0.008019,-19005,-3039,-9833.0,-2437,NaN,1,1,0,1,0,0,Laborers,2.0,2,2,WEDNESDAY,17,0,0,0,0,0,0,Business Entity Type 3,NaN,0.650442,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,0.0,2.0,0.0,-617.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,513000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.028663,-19932,-3038,-4311.0,-3458,NaN,1,1,0,1,0,0,Core staff,1.0,2,2,THURSDAY,11,0,0,0,0,1,1,Religion,NaN,0.322738,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-1106.0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307506,456251,0,Cash loans,M,N,N,0,157500.0,254700.0,27558.0,225000.0,Unaccompanied,Working,Secondary / secondary special,Separated,With parents,0.032561,-9327,-236,-8456.0,-1982,NaN,1,1,0,1,0,0,Sales staff,1.0,1,1,THURSDAY,15,0,0,0,0,0,0,Services,0.145570,0.681632,NaN,0.2021,0.0887,0.9876,0.8300,0.0202,0.22,0.1034,0.6042,0.2708,0.0594,0.1484,0.1965,0.0753,0.1095,0.1008,0.0172,0.9782,0.7125,0.0172,0.0806,0.0345,0.4583,0.0417,0.0094,0.0882,0.0853,0.0,0.0125,0.2040,0.0887,0.9876,0.8323,0.0203,0.22,0.1034,0.6042,0.2708,0.0605,0.1509,0.2001,0.0757,0.1118,reg oper account,block of flats,0.2898,"Stone, brick",No,0.0,0.0,0.0,0.0,-273.0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
307507,456252,0,Cash loans,F,N,Y,0,72000.0,269550.0,12001.5,225000.0,Unaccompanied,Pensioner,Secondary / secondary special,Widow,House / apartment,0.025164,-20775,365243,-4388.0,-4090,NaN,1,0,0,1,1,0,NaN,1.0,2,2,MONDAY,8,0,0,0,0,0,0,XNA,NaN,0.115992,NaN,0.0247,0.0435,0.9727,0.6260,0.0022,0.00,0.1034,0.0833,0.1250,0.0579,0.0202,0.0257,0.0000,0.0000,0.0252,0.0451,0.9727,0.6406,0.0022,0.0000,0.1034,0.0833,0.1250,0.0592,0.0220,0.0267,0.0,0.0000,0.0250,0.0435,0.9727,0.6310,0.0022,0.00,0.1034,0.0833,0.1250,0.0589,0.0205,0.0261,0.0000,0.0000,reg oper account,block of flats,0.0214,"Stone, brick",No,0.0,0.0,0.0,0.0,0.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
307508,456253,0,Cash loans,F,N,Y,0,153000.0,677664.0,29979.0,585000.0,Unaccompanied,Working,Higher education,Separated,House / apartment,0.005002,-14966,-7921,-6737.0,-5150,NaN,1,1,0,1,0,1,Managers,1.0,3,3,THURSDAY,9,0,0,0,0,1,1,School,0.744026,0.535722,0.218859,0.1031,0.0862,0.9816,0.7484,0.0123,0.00,0.2069,0.1667,0.2083,NaN,0.0841,0.9279,0.0000,0.0000,0.1050,0.0894,0.9816,0.7583,0.0124,0.0000,0.2069,0.1667,0.2083,NaN,0.0918,0.9667,0.0,0.0000,0.1041,0.0862,0.9816,0.7518,0.0124,0.00,0.2069,0.1667,0.2083,NaN,0.0855,0.9445,0.0000,0.0000,reg oper account,block of flats,0.7970,Panel,No,6.0,0.0,6.0,0.0,-1909.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1.0,0.0,0.0,1.0,0.0,1.0
307509,456254,1,Cash loans,F,N,Y,0,171000.0,370107.0,20205.0,319500.0,Unaccompanied,Commercial associate,Secondary / secondary special,Married,House / apartment,0.005313,-11961,-4786,-2562.0,-931,NaN,1,1,0,1,0,0,Laborers,2.0,2,2,WEDNESDAY,9,0,0,0,1,1,0,Business Entity Type 1,NaN,0.514163,0.661024,0.0124,NaN,0.9771,NaN,NaN,NaN,0.0690,0.0417,NaN,NaN,NaN,0.0061,NaN,NaN,0.0126,NaN,0.9772,NaN,NaN,NaN,0.0690,0.0417,NaN,NaN,NaN,0.0063,NaN,NaN,0.0125,NaN,0.9771,NaN,NaN,NaN,0.0690,0.0417,NaN,NaN,NaN,0.0062,NaN,NaN,NaN,block of flats,0.0086,"Stone, brick",No,0.0,0.0,0.0,0.0,-322.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
307510,456255,0,Cash loans,F,N,N,0,157500.0,675000.0,49117.5,675000.0,Unaccompanied,Commercial associate,Higher education,Married,House / apartment,0.046220,-16856,-1262,-5128.0,-410,NaN,1,1,1,1,1,0,Laborers,2.0,1,1,THURSDAY,20,0,0,0,0,1,1,Business Entity Type 3,0.734460,0.708569,0.113922,0.0742,0.0526,0.9881,NaN,0.0176,0.08,0.0690,0.3750,NaN,NaN,NaN,0.0791,NaN,0.0000,0.0756,0.0546,0.9881,NaN,0.0178,0.0806,0.0690,0.3750,NaN,NaN,NaN,0.0824,NaN,0.0000,0.0749,0.0526,0.9881,NaN,0.0177,0.08,0.0690,0.3750,NaN,NaN,NaN,0.0805,NaN,0.0000,NaN,block of flats,0.0718,Panel,No,0.0,0.0,0.0,0.0,-787.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,2.0,0.0,1.0

In [18]:
train_set.TARGET.value_counts()

0    282686
1     24825
Name: TARGET, dtype: int64

#### => SMOTE for Imbalanced Classification with Python => equilibré

In [5]:
pd.read_csv('dataset/application_test.csv')

,SK_ID_CURR,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,APARTMENTS_AVG,BASEMENTAREA_AVG,YEARS_BEGINEXPLUATATION_AVG,YEARS_BUILD_AVG,COMMONAREA_AVG,ELEVATORS_AVG,ENTRANCES_AVG,FLOORSMAX_AVG,FLOORSMIN_AVG,LANDAREA_AVG,LIVINGAPARTMENTS_AVG,LIVINGAREA_AVG,NONLIVINGAPARTMENTS_AVG,NONLIVINGAREA_AVG,APARTMENTS_MODE,BASEMENTAREA_MODE,YEARS_BEGINEXPLUATATION_MODE,YEARS_BUILD_MODE,COMMONAREA_MODE,ELEVATORS_MODE,ENTRANCES_MODE,FLOORSMAX_MODE,FLOORSMIN_MODE,LANDAREA_MODE,LIVINGAPARTMENTS_MODE,LIVINGAREA_MODE,NONLIVINGAPARTMENTS_MODE,NONLIVINGAREA_MODE,APARTMENTS_MEDI,BASEMENTAREA_MEDI,YEARS_BEGINEXPLUATATION_MEDI,YEARS_BUILD_MEDI,COMMONAREA_MEDI,ELEVATORS_MEDI,ENTRANCES_MEDI,FLOORSMAX_MEDI,FLOORSMIN_MEDI,LANDAREA_MEDI,LIVINGAPARTMENTS_MEDI,LIVINGAREA_MEDI,NONLIVINGAPARTMENTS_MEDI,NONLIVINGAREA_MEDI,FONDKAPREMONT_MODE,HOUSETYPE_MODE,TOTALAREA_MODE,WALLSMATERIAL_MODE,EMERGENCYSTATE_MODE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100001,Cash loans,F,N,Y,0,135000.0,568800.0,20560.5,450000.0,Unaccompanied,Working,Higher education,Married,House / apartment,0.018850,-19241,-2329,-5170.0,-812,NaN,1,1,0,1,0,1,NaN,2.0,2,2,TUESDAY,18,0,0,0,0,0,0,Kindergarten,0.752614,0.789654,0.159520,0.0660,0.0590,0.9732,NaN,NaN,NaN,0.1379,0.1250,NaN,NaN,NaN,0.0505,NaN,NaN,0.0672,0.0612,0.9732,NaN,NaN,NaN,0.1379,0.1250,NaN,NaN,NaN,0.0526,NaN,NaN,0.0666,0.0590,0.9732,NaN,NaN,NaN,0.1379,0.1250,NaN,NaN,NaN,0.0514,NaN,NaN,NaN,block of flats,0.0392,"Stone, brick",No,0.0,0.0,0.0,0.0,-1740.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
1,100005,Cash loans,M,N,Y,0,99000.0,222768.0,17370.0,180000.0,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,0.035792,-18064,-4469,-9118.0,-1623,NaN,1,1,0,1,0,0,Low-skill Laborers,2.0,2,2,FRIDAY,9,0,0,0,0,0,0,Self-employed,0.564990,0.291656,0.432962,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
2,100013,Cash loans,M,Y,Y,0,202500.0,663264.0,69777.0,630000.0,NaN,Working,Higher education,Married,House / apartment,0.019101,-20038,-4458,-2175.0,-3503,5.0,1,1,0,1,0,0,Drivers,2.0,2,2,MONDAY,14,0,0,0,0,0,0,Transport: type 3,NaN,0.699787,0.610991,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-856.0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,1.0,4.0
3,100028,Cash loans,F,N,Y,2,315000.0,1575000.0,49018.5,1575000.0,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,0.026392,-13976,-1866,-2000.0,-4208,NaN,1,1,0,1,1,0,Sales staff,4.0,2,2,WEDNESDAY,11,0,0,0,0,0,0,Business Entity Type 3,0.525734,0.509677,0.612704,0.3052,0.1974,0.9970,0.9592,0.1165,0.32,0.2759,0.3750,0.0417,0.2042,0.2404,0.3673,0.0386,0.0800,0.3109,0.2049,0.9970,0.9608,0.1176,0.3222,0.2759,0.3750,0.0417,0.2089,0.2626,0.3827,0.0389,0.0847,0.3081,0.1974,0.9970,0.9597,0.1173,0.32,0.2759,0.3750,0.0417,0.2078,0.2446,0.3739,0.0388,0.0817,reg oper account,block of flats,0.3700,Panel,No,0.0,0.0,0.0,0.0,-1805.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
4,100038,Cash loans,M,Y,N,1,180000.0,625500.0,32067.0,625500.0,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,0.010032,-13040,-2191,-4000.0,-4262,16.0,1,1,1,1,0,0,NaN,3.0,2,2,FRIDAY,5,0,0,0,0,1,1,Business Entity Type 3,0.202145,0.425687,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-821.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48739,456221,Cash loans,F,N,Y,0,121500.0,412560.0,17473.5,270000.0,Unaccompanied,Working,Secondary / secondary special,Widow,House / apartment,0.002042,-19970,-5169,-9094.0,-3399,NaN,1,1,1,1,1,0,NaN,1.0,3,3,WEDNESDAY,16,0,0,0,0,0,0,Other,NaN,0.648575,0.643026,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,1.0,0.0,-684.0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
48740,456222,Cash loans,F,N,N,2,157500.0,622413.0,31909.5,495000.0,Unaccompanied,Commercial associate,Secondary / secondary special,Married,House / apartment,0.035792,-11186,-1149,-3015.0,-3003,NaN,1,1,0,1,0,0,Sales staff,4.0,2,2,MONDAY,11,0,0,0,0,1,1,Trade: type 7,NaN,0.684596,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,0.0,2.0,0.0,0.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
48741,456223,Cash loans,F,Y,Y,1,202500.0,315000.0,33205.5,315000.0,Unaccompanied,Commercial associate,Secondary / secondary special,Married,House / apartment,0.026392,-15922,-3037,-2681.0,-1504,4.0,1,1,0,1,1,0,NaN,3.0,2,2,WEDNESDAY,12,0,0,0,0,0,0,Business Entity Type 3,0.733503,0.632770,0.283712,0.1113,0.1364,0.9955,NaN,NaN,0.16,0.1379,0.3333,NaN,NaN,NaN,0.1383,NaN,0.0542,0.1134,0.1415,0.9955,NaN,NaN,0.1611,0.1379,0.3333,NaN,NaN,NaN,0.1441,NaN,0.0574,0.1124,0.1364,0.9955,NaN,NaN,0.16,0.1379,0.3333,NaN,NaN,NaN,0.1408,NaN,0.0554,NaN,block of flats,0.1663,"Stone, brick",No,0.0,0.0,0.0,0.0,-838.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,3.0,1.0
48742,456224,Cash loans,M,N,N,0,225000.0,450000.0,25128.0,450000.0,Family,Commercial associate,Higher education,Married,House / apartment,0.018850,-13968,-2731,-1461.0,-1364,NaN,1,1,1,1,1,0,Managers,2.0,2,2,MONDAY,10,0,1,1,0,1,1,Self-employed,0.373090,0.445701,0.595456,0.1629,0.0723,0.9896,NaN,NaN,0.16,0.0690,0.6250,NaN,NaN,NaN,0.1563,NaN,0.1490,0.1660,0.0750,0.9896,NaN,NaN,0.1611,0.0690,0.6250,NaN,NaN,NaN,0.1204,NaN,0.1577,0.1645,0.0723,0.9896,NaN,NaN,0.16,0.0690,0.6250,NaN,NaN,NaN,0.1591,NaN,0.1521,NaN,block of flats,0.1974,Panel,No,0.0,0.0,0.0,0.0,-2308.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
48743,456250,Cash loans,F,Y,N,0,135000.0,312768.0,24709.5,270000.0,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,0.006629,-13962,-633,-1072.0,-4220,22.0,1,1,1,1,0,0,Core staff,2.0,2,2,TUESDAY,14,0,0,0,0,0,0,Government,NaN,0.456541,0.272134,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-327.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,1.0,4.0

In [6]:
pd.read_csv('dataset/bureau.csv')

         SK_ID_CURR  SK_ID_BUREAU CREDIT_ACTIVE CREDIT_CURRENCY  DAYS_CREDIT  CREDIT_DAY_OVERDUE  DAYS_CREDIT_ENDDATE  DAYS_ENDDATE_FACT  AMT_CREDIT_MAX_OVERDUE  CNT_CREDIT_PROLONG  AMT_CREDIT_SUM  AMT_CREDIT_SUM_DEBT  AMT_CREDIT_SUM_LIMIT  AMT_CREDIT_SUM_OVERDUE      CREDIT_TYPE  DAYS_CREDIT_UPDATE  AMT_ANNUITY
0            215354       5714462        Closed      currency 1         -497                   0               -153.0             -153.0                     NaN                   0        91323.00                  0.0                   NaN                     0.0  Consumer credit                -131          NaN
1            215354       5714463        Active      currency 1         -208                   0               1075.0                NaN                     NaN                   0       225000.00             171342.0                   NaN                     0.0      Credit card                 -20          NaN
2            215354       5714464        Active      currency 1         -203                   0                528.0                NaN                     NaN                   0       464323.50                  NaN                   NaN                     0.0  Consumer credit                 -16          NaN
3            215354       5714465        Active      currency 1         -203                   0                  NaN                NaN                     NaN                   0        90000.00                  NaN                   NaN                     0.0      Credit card                 -16          NaN
4            215354       5714466        Active      currency 1         -629                   0               1197.0                NaN                 77674.5                   0      2700000.00                  NaN                   NaN                     0.0  Consumer credit                 -21          NaN
...             ...           ...           ...             ...          ...                 ...                  ...                ...                     ...                 ...             ...                  ...                   ...                     ...              ...                 ...          ...
1716423      259355       5057750        Active      currency 1          -44                   0                -30.0                NaN                     0.0                   0        11250.00              11250.0                   0.0                     0.0        Microloan                 -19          NaN
1716424      100044       5057754        Closed      currency 1        -2648                   0              -2433.0            -2493.0                  5476.5                   0        38130.84                  0.0                   0.0                     0.0  Consumer credit               -2493          NaN
1716425      100044       5057762        Closed      currency 1        -1809                   0              -1628.0             -970.0                     NaN                   0        15570.00                  NaN                   NaN                     0.0  Consumer credit                -967          NaN
1716426      246829       5057770        Closed      currency 1        -1878                   0              -1513.0            -1513.0                     NaN                   0        36000.00                  0.0                   0.0                     0.0  Consumer credit               -1508          NaN
1716427      246829       5057778        Closed      currency 1         -463                   0                  NaN             -387.0                     NaN                   0        22500.00                  0.0                   NaN                     0.0        Microloan                -387          NaN

[1716428 rows x 17 columns]

In [7]:
pd.read_csv('dataset/bureau_balance.csv')

          SK_ID_BUREAU  MONTHS_BALANCE STATUS
0              5715448               0      C
1              5715448              -1      C
2              5715448              -2      C
3              5715448              -3      C
4              5715448              -4      C
...                ...             ...    ...
27299920       5041336             -47      X
27299921       5041336             -48      X
27299922       5041336             -49      X
27299923       5041336             -50      X
27299924       5041336             -51      X

[27299925 rows x 3 columns]

In [8]:
pd.read_csv('dataset/credit_card_balance.csv')

         SK_ID_PREV  SK_ID_CURR  MONTHS_BALANCE  AMT_BALANCE  AMT_CREDIT_LIMIT_ACTUAL  AMT_DRAWINGS_ATM_CURRENT  AMT_DRAWINGS_CURRENT  AMT_DRAWINGS_OTHER_CURRENT  AMT_DRAWINGS_POS_CURRENT  AMT_INST_MIN_REGULARITY  AMT_PAYMENT_CURRENT  AMT_PAYMENT_TOTAL_CURRENT  AMT_RECEIVABLE_PRINCIPAL  AMT_RECIVABLE  AMT_TOTAL_RECEIVABLE  CNT_DRAWINGS_ATM_CURRENT  CNT_DRAWINGS_CURRENT  CNT_DRAWINGS_OTHER_CURRENT  CNT_DRAWINGS_POS_CURRENT  CNT_INSTALMENT_MATURE_CUM NAME_CONTRACT_STATUS  SK_DPD  SK_DPD_DEF
0           2562384      378907              -6       56.970                   135000                       0.0                 877.5                         0.0                     877.5                 1700.325              1800.00                   1800.000                     0.000          0.000                 0.000                       0.0                     1                         0.0                       1.0                       35.0               Active       0           0
1           2582071      363914              -1    63975.555                    45000                    2250.0                2250.0                         0.0                       0.0                 2250.000              2250.00                   2250.000                 60175.080      64875.555             64875.555                       1.0                     1                         0.0                       0.0                       69.0               Active       0           0
2           1740877      371185              -7    31815.225                   450000                       0.0                   0.0                         0.0                       0.0                 2250.000              2250.00                   2250.000                 26926.425      31460.085             31460.085                       0.0                     0                         0.0                       0.0                       30.0               Active       0           0
3           1389973      337855              -4   236572.110                   225000                    2250.0                2250.0                         0.0                       0.0                11795.760             11925.00                  11925.000                224949.285     233048.970            233048.970                       1.0                     1                         0.0                       0.0                       10.0               Active       0           0
4           1891521      126868              -1   453919.455                   450000                       0.0               11547.0                         0.0                   11547.0                22924.890             27000.00                  27000.000                443044.395     453919.455            453919.455                       0.0                     1                         0.0                       1.0                      101.0               Active       0           0
...             ...         ...             ...          ...                      ...                       ...                   ...                         ...                       ...                      ...                  ...                        ...                       ...            ...                   ...                       ...                   ...                         ...                       ...                        ...                  ...     ...         ...
3840307     1036507      328243              -9        0.000                    45000                       NaN                   0.0                         NaN                       NaN                    0.000                  NaN                      0.000                     0.000          0.000                 0.000                       NaN                     0                         NaN                       NaN                        0.0               Active       0           0
3840308     1714892      347207              -9        0.000                    45000                       0.0                   0.0                         0.0                       0.0                    0.000              1879.11                      0.000                     0.000          0.000                 0.000                       0.0                     0                         0.0                       0.0                       23.0               Active       0           0
3840309     1302323      215757              -9   275784.975                   585000                  270000.0              270000.0                         0.0                       0.0                 2250.000            375750.00                 356994.675                269356.140     273093.975            273093.975                       2.0                     2                         0.0                       0.0                       18.0               Active       0           0
3840310     1624872      430337             -10        0.000                   450000                       NaN                   0.0                         NaN                       NaN                    0.000                  NaN                      0.000                     0.000          0.000                 0.000                       NaN                     0                         NaN                       NaN                        0.0               Active       0           0
3840311     2411345      236760             -10        0.000                   157500                       0.0                   0.0                         0.0                       0.0                    0.000                 0.00                      0.000                     0.000          0.000                 0.000                       0.0                     0                         0.0                       0.0                       21.0            Completed       0           0

[3840312 rows x 23 columns]

In [9]:
pd.read_csv('dataset/installments_payments.csv')

          SK_ID_PREV  SK_ID_CURR  NUM_INSTALMENT_VERSION  NUM_INSTALMENT_NUMBER  DAYS_INSTALMENT  DAYS_ENTRY_PAYMENT  AMT_INSTALMENT  AMT_PAYMENT
0            1054186      161674                     1.0                      6          -1180.0             -1187.0        6948.360     6948.360
1            1330831      151639                     0.0                     34          -2156.0             -2156.0        1716.525     1716.525
2            2085231      193053                     2.0                      1            -63.0               -63.0       25425.000    25425.000
3            2452527      199697                     1.0                      3          -2418.0             -2426.0       24350.130    24350.130
4            2714724      167756                     1.0                      2          -1383.0             -1366.0        2165.040     2160.585
...              ...         ...                     ...                    ...              ...                 ...             ...          ...
13605396     2186857      428057                     0.0                     66          -1624.0                 NaN          67.500          NaN
13605397     1310347      414406                     0.0                     47          -1539.0                 NaN          67.500          NaN
13605398     1308766      402199                     0.0                     43             -7.0                 NaN       43737.435          NaN
13605399     1062206      409297                     0.0                     43          -1986.0                 NaN          67.500          NaN
13605400     2448869      434321                     1.0                     19            -27.0                 NaN       11504.250          NaN

[13605401 rows x 8 columns]

In [10]:
pd.read_csv('dataset/POS_CASH_balance.csv')

          SK_ID_PREV  SK_ID_CURR  MONTHS_BALANCE  CNT_INSTALMENT  CNT_INSTALMENT_FUTURE NAME_CONTRACT_STATUS  SK_DPD  SK_DPD_DEF
0            1803195      182943             -31            48.0                   45.0               Active       0           0
1            1715348      367990             -33            36.0                   35.0               Active       0           0
2            1784872      397406             -32            12.0                    9.0               Active       0           0
3            1903291      269225             -35            48.0                   42.0               Active       0           0
4            2341044      334279             -35            36.0                   35.0               Active       0           0
...              ...         ...             ...             ...                    ...                  ...     ...         ...
10001353     2448283      226558             -20             6.0                    0.0               Active     843           0
10001354     1717234      141565             -19            12.0                    0.0               Active     602           0
10001355     1283126      315695             -21            10.0                    0.0               Active     609           0
10001356     1082516      450255             -22            12.0                    0.0               Active     614           0
10001357     1259607      174278             -52            16.0                    0.0            Completed       0           0

[10001358 rows x 8 columns]

In [11]:
pd.read_csv('dataset/previous_application.csv')

         SK_ID_PREV  SK_ID_CURR NAME_CONTRACT_TYPE  AMT_ANNUITY  AMT_APPLICATION  AMT_CREDIT  AMT_DOWN_PAYMENT  AMT_GOODS_PRICE WEEKDAY_APPR_PROCESS_START  HOUR_APPR_PROCESS_START FLAG_LAST_APPL_PER_CONTRACT  NFLAG_LAST_APPL_IN_DAY  RATE_DOWN_PAYMENT  RATE_INTEREST_PRIMARY  RATE_INTEREST_PRIVILEGED NAME_CASH_LOAN_PURPOSE NAME_CONTRACT_STATUS  DAYS_DECISION      NAME_PAYMENT_TYPE CODE_REJECT_REASON  NAME_TYPE_SUITE NAME_CLIENT_TYPE   NAME_GOODS_CATEGORY NAME_PORTFOLIO NAME_PRODUCT_TYPE             CHANNEL_TYPE  SELLERPLACE_AREA  NAME_SELLER_INDUSTRY  CNT_PAYMENT NAME_YIELD_GROUP          PRODUCT_COMBINATION  DAYS_FIRST_DRAWING  DAYS_FIRST_DUE  DAYS_LAST_DUE_1ST_VERSION  DAYS_LAST_DUE  DAYS_TERMINATION  NFLAG_INSURED_ON_APPROVAL
0           2030495      271877     Consumer loans     1730.430          17145.0     17145.0               0.0          17145.0                   SATURDAY                       15                           Y                       1           0.000000               0.182832                  0.867336                    XAP             Approved            -73  Cash through the bank                XAP              NaN         Repeater                Mobile            POS               XNA             Country-wide                35          Connectivity         12.0           middle     POS mobile with interest            365243.0           -42.0                      300.0          -42.0             -37.0                        0.0
1           2802425      108129         Cash loans    25188.615         607500.0    679671.0               NaN         607500.0                   THURSDAY                       11                           Y                       1                NaN                    NaN                       NaN                    XNA             Approved           -164                    XNA                XAP    Unaccompanied         Repeater                   XNA           Cash            x-sell           Contact center                -1                   XNA         36.0       low_action             Cash X-Sell: low            365243.0          -134.0                      916.0       365243.0          365243.0                        1.0
2           2523466      122040         Cash loans    15060.735         112500.0    136444.5               NaN         112500.0                    TUESDAY                       11                           Y                       1                NaN                    NaN                       NaN                    XNA             Approved           -301  Cash through the bank                XAP  Spouse, partner         Repeater                   XNA           Cash            x-sell  Credit and cash offices                -1                   XNA         12.0             high            Cash X-Sell: high            365243.0          -271.0                       59.0       365243.0          365243.0                        1.0
3           2819243      176158         Cash loans    47041.335         450000.0    470790.0               NaN         450000.0                     MONDAY                        7                           Y                       1                NaN                    NaN                       NaN                    XNA             Approved           -512  Cash through the bank                XAP              NaN         Repeater                   XNA           Cash            x-sell  Credit and cash offices                -1                   XNA         12.0           middle          Cash X-Sell: middle            365243.0          -482.0                     -152.0         -182.0            -177.0                        1.0
4           1784265      202054         Cash loans    31924.395         337500.0    404055.0               NaN         337500.0                   THURSDAY                        9                           Y                       1                NaN                    NaN                       NaN                Repairs              Refused           -781  Cash through the bank                 HC              NaN         Repeater                   XNA           Cash           walk-in  Credit and cash offices                -1                   XNA         24.0             high            Cash Street: high                 NaN             NaN                        NaN            NaN               NaN                        NaN
...             ...         ...                ...          ...              ...         ...               ...              ...                        ...                      ...                         ...                     ...                ...                    ...                       ...                    ...                  ...            ...                    ...                ...              ...              ...                   ...            ...               ...                      ...               ...                   ...          ...              ...                          ...                 ...             ...                        ...            ...               ...                        ...
1670209     2300464      352015     Consumer loans    14704.290         267295.5    311400.0               0.0         267295.5                  WEDNESDAY                       12                           Y                       1           0.000000                    NaN                       NaN                    XAP             Approved           -544  Cash through the bank                XAP              NaN        Refreshed             Furniture            POS               XNA                    Stone                43             Furniture         30.0       low_normal   POS industry with interest            365243.0          -508.0                      362.0         -358.0            -351.0                        0.0
1670210     2357031      334635     Consumer loans     6622.020          87750.0     64291.5           29250.0          87750.0                    TUESDAY                       15                           Y                       1           0.340554                    NaN                       NaN                    XAP             Approved          -1694  Cash through the bank                XAP    Unaccompanied              New             Furniture            POS               XNA                    Stone                43             Furniture         12.0           middle   POS industry with interest            365243.0         -1604.0                    -1274.0        -1304.0           -1297.0                        0.0
1670211     2659632      249544     Consumer loans    11520.855         105237.0    102523.5           10525.5         105237.0                     MONDAY                       12                           Y                       1           0.101401                    NaN                       NaN                    XAP             Approved          -1488  Cash through the bank                XAP  Spouse, partner         Repeater  Consumer Electronics            POS               XNA             Country-wide              1370  Consumer electronics         10.0       low_normal  POS household with interest            365243.0         -1457.0                    -1187.0        -1187.0           -1181.0                        0.0
1670212     2785582      400317         Cash loans    18821.520         180000.0    191880.0               NaN         180000.0                  WEDNESDAY                        9                           Y                       1                NaN                    NaN                       NaN                    XNA             Approved          -1185  Cash through the bank                XAP           Family         Repeater                   XNA           Cash            x-sell          AP+ (Cash loan)                -1                   XNA         12.0       low_normal             Cash X-Sell: low            365243.0         -1155.0                     -825.0         -825.0            -817.0                        1.0
1670213     2418762      261212         Cash loans    16431.300         360000.0    360000.0               NaN         360000.0                     SUNDAY                       10                           Y                       1                NaN                    NaN                       NaN                    XNA             Approved          -1193  Cash through the bank                XAP           Family         Repeater                   XNA           Cash            x-sell          AP+ (Cash loan)                -1                   XNA         48.0           middle          Cash X-Sell: middle            365243.0         -1163.0                      247.0         -443.0            -423.0                        0.0

[1670214 rows x 37 columns]

In [20]:
sub_target=pd.read_csv('dataset/sample_submission.csv')
sub_target

       SK_ID_CURR  TARGET
0          100001     0.5
1          100005     0.5
2          100013     0.5
3          100028     0.5
4          100038     0.5
...           ...     ...
48739      456221     0.5
48740      456222     0.5
48741      456223     0.5
48742      456224     0.5
48743      456250     0.5

[48744 rows x 2 columns]

In [21]:
sub_target.TARGET.value_counts()

0.5    48744
Name: TARGET, dtype: int64